*{
    padding: 0;
    margin: 0;
}

/************************ CSS CINEMA INFO*************************************/
.cinemaInfo{
    max-width: 1200px;
    height: auto;
    background-color: aliceblue;
}