.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.modal.is-open {
  display: block;
  opacity: 1;
  transform: scale(1);
  z-index: 9999;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
}
  .register-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 9999;
  }


  .register-container img {
    display: block;
    margin: 0 auto;
  }


  .register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
  }


  .form-group {
    margin-bottom: 15px;
  }


  .form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }


  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }


  .form-group input[type="radio"] {
    margin-right: 5px;
  }


  .form-group .radio-group {
    display: flex;
  }


  .form-group .radio-group label {
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 15px;
    font-size: 15px;
    color: #333;
  }


  .form-group .icon-input {
    position: relative;
  }


  .form-group .icon-input input {
    padding-right: 30px;
  }


  .form-group .icon-input .fa {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
  }


  .form-group .checkbox-group {
    text-align: left;
  }


  #terms {
    margin-right: 10px;
  }


  .form-group .checkbox-group input {
    margin-right: 5px;
  }


  .form-group .checkbox-group label {
    font-size: 12px;
    color: #333;
  }


  .terms {
    display: unset !important;
  }


  .terms a {
    font-size: 14px;
    padding: 0;
  }


  .form-group .checkbox-group a {
    color: #007bff;
    text-decoration: none;
  }


  .form-group .checkbox-group a:hover {
    text-decoration: underline;
  }


  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff7f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }


  .btn:hover {
    background-color: #e66b00;
  }


  .login-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    color: #333;
  }


  .login-link a {
    color: #d88a6e;
    text-decoration: none;
  }

  .register-container .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .register-container .login-button {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ff7f00;
    border-radius: 5px;
    color: #ff7f00;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
  }

  .register-container .login-button:hover {
    background-color: #ff7f00;
    color: #fff;
    /* text-decoration: none !important; */
  }
}

.email {
  margin-bottom: 15px;
}

.sex {
  label {
    margin-bottom: 0 !important;
    margin-right: 8px !important;
  }
}

.date-of-birth {
  label {
    margin-bottom: 0 !important;
  }

  #dateOfBirth {
    border-radius: 5px;
  }
}