*{
    padding: 0;
    margin: 0;
}
/*************************CSS CAROUSEL****************************/
.carousel {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slick-slider {
    position: relative;
  }
  
  
  
  .carousel-image {
  
    border-radius: 10px;
  }


  /**************************CSS LIST MOVIE********************************/
  .listMovie{
    width: 60%;
    height: 1000px;
    margin-left: 20%;
    padding: 20px;
    margin-bottom: 20px;
  }

  .titleM{
    width: 40%;
    height: 50px;
    border: 1px solid red;
    border-radius: 0 25px;
    margin-left: 20px;
    display: flex;
  }

  .phimList{
    width: 100%;
    height: 900px;
    margin-left: 20px;
    margin-top: 30px;
  }

  .boxM{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cardM{
    width: 90%;
    height: 95%;
    background-color: aqua;
    
  }

  /******************************CSS PROMOTIONAL EVENT *******************************************/

  .listEvent{
    width: 59%;
    height: 400px;
    margin-left: 20%;
    padding: 20px;
    margin-bottom: 20px;
  }

  .tieleEv{
    margin-left: 10px;
    color: black;
    font-size: 20px;
    text-align: center;
  }


  /***********************************CSS BANNER MOVIE*******************************************************/

  .bannerM{
    width: 100%;
    height: 450px;
    background-color: rgba(57, 34, 233, 0.491);
  }

  .boxBanner{
    width: 60%;
    height: 450px;
    margin-left: 20%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }

  .imgBanner{
    width: 35%;
    height: 300px;
    margin-top: 5%;
  

  }

  .contentBanner{
    width: 60%;
    height: 350px;
    margin-top: 5%;
  }

  .QRcode{
    width: 200px;
    height: 200px;
    margin-left: 25%;
    margin-top: 10px;
    background-color: rgb(167, 235, 108);
  }

  /********************************CSS QUICK BOOKING*************************************/
  .quick-booking-container {
    max-width: 1200px;
    margin: 20px auto;
    position: absolute;
    top: 450px;
    left: 30%;
    z-index: 9999;
  }
  
  select:disabled {
    background-color: #f9f9f9;
    color: #ccc;
  }
  