.admin-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.admin-login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 450px;
}

.admin-login-title {
  margin-bottom: 30px;
  font-size: 20px;
  color: #333;
  text-align: center;
}

.admin-login-form-group {
  margin-bottom: 30px;
}

.admin-login-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.admin-login-input {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.admin-login-button {
  width: 100%;
  padding: 10px;
  background-color: #ff7f00;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.admin-login-button:hover {
  background-color: #e66b00;
}
