/* body {
  background-color: #1a202c;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
} */

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  min-height: 100vh;
  margin: 50px 100px;
  max-width: 90%;
}

.sidebar {
  position: sticky;
  overflow-y: auto;
  top: 20px;
  width: 20%;
  margin-right: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  height: max-content;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  padding: 10px;
}

li {
  margin-top: 0;
}

.sidebar ul li:first-child a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sidebar ul li:last-child a {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar a i {
  margin-right: 10px;
}

.sidebar a.active {
  color: #fff;
  background-color: #ff7f00;
  font-weight: bold;
}

.main {
  width: 75%;
  padding: 0 20px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.stat {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.stat .icon {
  font-size: 24px;
  margin-right: 10px;
}

.stat-number {
  font-size: 20px;
  font-weight: bold;
}

.subtitle {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.movie-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  overflow: hidden;
}

.table tr {
  background-color: rgba(198, 194, 194, 0.5);
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 0.5px solid gray;
}

.table th {
  background-color: #ff7f00;
  color: #fff;
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #fff;
}

.thumbnail {
  width: 100%;
  height: 80px;
  object-fit: contain;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.btn.edit {
  color: #4299e1;
  margin-right: 10px;
}

.btn.delete {
  color: #e53e3e;
}

.add-btn {
  margin-top: 20px;
  height: 50px;
  width: 120px;
  color: #fff;
  background-color: #ff7f00;
  border: 0px;
  border-radius: 10px;
  float: right;
  cursor: pointer;
  font-weight: bold;
}

.modal {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.modal-content {
  position: sticky;
  overflow-y: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.modal-content h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.btn.save,
.btn.confirm {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn.cancel {
  background-color: #f44336;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.modal-noti {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-noti-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.btn-noti-close {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-noti-close:hover {
  background-color: #0056b3;
}

.modal-edit,
.modal-delete,
.modal-add,
.modal-confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-edit-content,
.modal-delete-content,
.modal-add-content,
.modal-confirm-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-add-content {
  width: 50%;

  /* h3 {
    text-align: center;
  } */

  form {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    margin-bottom: 20px;
  }

  /* .btns-add {
    display: flex;
    justify-content: center;
  } */
}

.modal-edit-content h3,
.modal-delete-content h3,
.modal-add-content h3,
.modal-confirm-content h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-edit-content label,
.modal-delete-content label,
.modal-add-content label,
.modal-confirm-content label {
  display: block;
  margin: 10px 0;
}

.modal-edit-content input,
.modal-edit-content textarea,
.modal-confirm-content input,
.modal-confirm-content textarea,
.modal-add-content input,
.modal-add-content textarea,
.modal-delete-content input,
.modal-delete-content textarea {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-confirm-content button {
  margin-top: 20px;
}

/* cinema */
.cinema {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
}

.cinema-element {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      padding: 8px 15px;
      border: 1px solid transparent;
      border-radius: 10px;
      background-color: #ff7f00;
      color: #fff;
    }
  }

  .cinema-img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
  }

  .cinema-address {
    font-size: 18px;
    font-style: italic;
  }
}

.cinema-detail {
  font-size: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .back-button {
    width: 100px;
    height: 50px;
    background-color: #ff7f00;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
  }

  .cinema-detail-name {
    text-align: center;
    font-size: 40px;
  }

  .cinema-detail-img {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background-color: #000000; */

    .slider-image {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease-in-out;
      border-radius: 10px;
    }

    .prev-button,
    .next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 20px;
      cursor: pointer;
      z-index: 10;
      border-radius: 50%;
    }

    .prev-button {
      left: 10px;
    }

    .next-button {
      right: 10px;
    }

    .prev-button:hover,
    .next-button:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .cinema-detail-location,
  .cinema-detail-address {
    strong {
      text-transform: capitalize;
      font-size: 22px;
    }
  }

  /* .cinema-detail-room {
    .room-element {
      border: 0px solid transparent;
      border-radius: 10px;
      background-color: #ff7f00;
      color: #fff;
      padding: 20px;
    }
  } */
}



/*********************CSS SCREENING********************************/
/* Container lớn cho dropdown */
.dropdown-container {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  margin-bottom: 10px; /* Tạo khoảng cách giữa các dropdown */
}

/* Tiêu đề của dropdown */
.dropdown-title {
  padding: 10px;
  color: #fff;
  background-color: #ff7f00;
  font-weight: bold;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
}


/* Menu dropdown */
.dropdown-menu {
  display: block;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.content{
  height: 500px;
  padding: 10px;
  display: flex;
}



/**********************CSS SHOWTIME*********************************/
/* Wrapper cho component */


/* Container chứa các nút và ngày */
.flex {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Nút chuyển ngày trái và phải */
button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #e0e0e0;
}

button:disabled {
  cursor: not-allowed;
  background-color: #d0d0d0;
}

/* Container hiển thị các ngày */
.overflow-hidden {
  display: flex;
  overflow: hidden;
  gap: 32px;
}

/* Nút ngày */
button {
  display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #f5f5f5;
}

button:focus {
  outline: none;
}

/* Khi ngày được chọn */
button.selected {
  background-color: #007bff;
    color: white;
    width: auto;
}

button:hover:not(.selected) {
  background-color: #f5f5f5;
}

button.disabled {
  cursor: not-allowed;
  background-color: #d0d0d0;
}

/* Hiển thị tên ngày và số ngày */
button div {
  text-align: center;
}

.day {
  font-size: 14px;
}

.date {
  font-size: 12px;
}
