.box-container{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    background-color: rgb(220, 220, 202);
   
}

.revenue{
    width: 60%;
    background-color: burlywood;
    display: flex;
  
}

.total-revenue-room{
    width: 25%;
    height: 100%;
    background-color: aqua;
}

.room-title{
   margin: 10px;
    background-color: beige;
    text-align: center;
    font-size: 12px;
    padding: 10px;
}
.revenue-content{
    background-color: beige;
    padding: 10px;
    margin: 10px;
}

.revenue-content h3{
    margin-bottom: 10px;
}

.revenue-content span{
    margin-right: 10px;
}