.box-container{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    background-color: rgb(220, 220, 202);
    height: 600px;
}

.hig{
    height: 500px;
}

.revenue{
    width: 60%;
    height: 500px;
    background-color: burlywood;
    display: flex;
}